
<div class="container">
  <div class="row">
    <div class="col-4"><p>Pizzaria Gabriela</p></div>
  </div>
  <div><p> {{ diaHorario | date:'dd-MM-yyyy' }} </p></div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" (click)="irParaUltimosPedidos()" style="padding-left: 0">Últimos pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="irParaReceitas()">Receitas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="irParaInventario()">Inventário</a>
    </li>
  </ul>
  <div *ngIf="ultimosPedidos">
    <app-ultimos-pedidos></app-ultimos-pedidos>
  </div>
  <div *ngIf="receitas">
    <app-receitas></app-receitas>
  </div>
  <div *ngIf="inventario">
    <app-inventario></app-inventario>
  </div>
</div>

